@using MVC.Models.DTO
@{
    ViewData["Title"] = "Home Page";
}

@model AddStudentViewModel

<h1 class="d-flex justify-content-center">Hello</h1>

<section class="d-flex justify-content-center">
    <div class="d-flex flex-column w-50">
        <a class="btn-primary rounded-2 p-5 text-decoration-none text-center m-3" asp-area="" asp-controller="Student" asp-action="Add"><span>Add Students</span></a>
        <a class="btn-primary rounded-2 p-5 text-decoration-none text-center m-3" asp-area="" asp-controller="Student" asp-action="GetStudents"><span>View Students</span></a>
        <a class="btn-primary rounded-2 p-5 text-decoration-none text-center m-3" asp-area="" asp-controller="Assignment" asp-action="Index"><span>Assignment</span></a>
        <a class="btn-primary rounded-2 p-5 text-decoration-none text-center m-3" asp-area="" asp-controller="StudentAssignment" asp-action="Index"><span>Student Assignment Submission</span></a>
    </div>
</section>